<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.acottage.scabbard.core.mapper.TestMyBatisMapper">
    <resultMap id="BaseResultMap" type="org.acottage.scabbard.core.entity.TestMyBatis">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_del" jdbcType="BIT" property="del"/>
    </resultMap>

    <sql id="baseColumn" >
        id , `name`,is_del,update_time,create_time
    </sql>

    <insert id="insert" parameterType="org.acottage.scabbard.core.entity.TestMyBatis" useGeneratedKeys="true" keyProperty="id">
<!--        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
<!--            SELECT LAST_INSERT_ID()-->
<!--        </selectKey>-->
        insert into test_my_batis (<include refid="baseColumn"/>) values (#{id},#{name},#{del},#{updateTime},#{createTime})
    </insert>

    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into test_my_batis (<include refid="baseColumn"/>) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.del},#{item.updateTime},#{item.createTime})
        </foreach>
    </insert>

</mapper>